@import "../../variables/variables";

.header {
  align-items: center;
  border-bottom: $border1;
  display: flex;
  flex-direction: column;
  .header-title-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    .header-logo {
      margin-bottom: $gap2;
      width: 70px;
    }
    .header-name {
    }
    .header-subtitle {
      margin-top: $gap2;
    }
  }
  .header-links {
    height: 70px;
    position: absolute;
    right: 0;
    top: $gap1;
  }
}

.navbar {
  display: flex;
  justify-content: space-around;
  max-width: 600px;
  width: 100%;
}
